/* BoxContainer.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.box-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .box {
    width: 200px;
    height: 600px;
    text-align: center;
    font-family: 'Outfit';
    margin: 10px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .box img {
    width: 100%;
    height: auto;
  }
  
  .box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #031d39;
    color: white; 
    font-size: 16px;
    font-family: 'Outfit';
  }
  
  .box button:hover {
    background-color: #021326;
    color: #ffc52d;
  }
  