/* home.css */
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Outfit:wght@100..900&display=swap');

.main-container {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden; /* Ensures the pseudo-element is contained within the div */
  }
  
  .main-container::before {
    margin: 40px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./home-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust opacity as needed */
    z-index: -1;

  }
  
  .welcome-text {
    font-size: 5rem;
    color:#031d39;
    margin: 0;
    padding: 0;
    /* animation styles can remain inline in your component if they're dynamic */
  }
  
  .styled-button {
    font-size: 1.5rem;
    font-family: 'Outfit';
    padding: 15px 30px;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #031d39;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  
  .styled-button:hover {
    background-color: #031d39;
    color: #ffc52d;
  }

    .share-ride-text {
        margin: 40px;
        font-family: 'Baskervville', serif; /* Fallback font added */
        font-style: italic;
        font-size: 1.3rem;
    }
  
    /* Add this at the end of your home.css file */

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blinkCursor {
    from { border-right-color: rgba(0, 0, 0, 0.75); }
    to { border-right-color: transparent; }
  }
  
  .typing {
    font-family: 'Courier New', Courier, monospace; /* Or any monospaced font you like */
    display: inline-block;
    overflow: hidden;
    border-right: 3px solid;
    white-space: nowrap;
    animation: typing 3.5s steps(30) 1s forwards,
               blinkCursor 500ms steps(30) infinite;
    max-width: 100%;
  }
  
  .about-section {
    font-size: 2rem;
    text-align: left;
    padding: 50px 20px;
    padding-left: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  